// ==========================================================================
// Layout - Header
// ==========================================================================

@use '../base/variables';
@use '../base/functions';

@import '../base/mixins';


.hero{
  background-color: blue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__logo{
    background-color: #00eaff;
    height: 20%;
  }
  &__wrapper{
    background-color: #DDFF00;
    height: 80%;

    .box{
      //background-color: rgba(functions.random-color(),0.5);
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr );
      width: 100%;
      height: 100%;
      &__menu{
        //background-color: rgba(functions.random-color(),0.5);
        grid-column: 1/5;
        grid-row: 1/2;
        display: flex;
        align-items: center;
      }
      &__join{
        //background-color: rgba(functions.random-color(),0.5);
        margin-top: 4rem;
        grid-column: 5/-1;
        grid-row: 1/2;
        display: flex;
        //gap: 1rem;
        align-items: center;
        //flex-direction: column;
        //justify-content: center;
        .btn{
          //border-radius: 100%;
          border: none;
          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 0px 1px rgba(0, 0, 0, 0.01);
          }
        }
      }
      &__action{
        background-color: #ff8a00;
        grid-column: 1/-1;
        grid-row: 2/-1;
      }
    }

  }
}

// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ==========================================================================
// 360=>413
// ==========================================================================
@include mQ(xsS){
  .hero{
    &__logo{
    }
    &__wrapper{
    }
  }
}

// ==========================================================================
// 414=>599
// ==========================================================================
@include mQ(smallS){
  .hero{
    background-color: orange;
    &__logo{
      background-color: seagreen;
    }
    &__wrapper{
      background-color: darkslateblue;
    }
  }
}

// ==========================================================================
// 600=>759
// ==========================================================================
@include mQ(mediumS){
  .hero{
    background-color: pink;
  }
}

// ==========================================================================
// 760=>919
// ==========================================================================
@include mQ(wideS){
  .hero{
    background-color: violet;
  }
}

// ==========================================================================
// 920=>1365
// ==========================================================================
@include mQ(largeS){
  .hero{
    background-color: red;
  }
}

// ==========================================================================
// 1365=>1439
// ==========================================================================
@include mQ(xlS){
  .hero{
    background-color: greenyellow;
  }
}

// ==========================================================================
// 1440=>1919
// ==========================================================================
@include mQ(dS){
  .hero{
    background-color: darkcyan;
  }
}

// ==========================================================================
// 1920=>2559
// ==========================================================================
@include mQ(hdS){
  .hero{
    background-color: darkslateblue;
  }
}

// ==========================================================================
// 2560=>3839
// ==========================================================================
@include mQ(bgS){
  .hero{
    background-color: lightcoral;
  }
}

// ==========================================================================
// 3840=>
// ==========================================================================
@include mQ(ckS){
  .hero{
    background-color: lightslategray;
  }
}