@use '../base/variables';
@use '../base/functions';

@use '../base/mixins';

.menu{
  //background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;

  width: 100%;
  //height: 60%;
  //padding: 20px;
  &__list{
    //background-color: green;
    //background-color:#121926;
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    transition: all .5s ease;

    justify-content: space-around;
    width: 100%;
  }
  &__item{
    //background-color: plum;
    display: flex;
    gap: 1rem;
    margin: 0;
    cursor: pointer;

  }
}
.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: auto;
    position: relative;
    z-index: 1;
  }
.menu-icon .line{
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all .3s ease;
}
#menu-toggle{
  display: none;
}

// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ==========================================================================
// 360=>
// ==========================================================================
@include mixins.respond-to(xs){}

@media (max-width: 1365px){
  .menu{
    padding: 20px;

    &__list{
      //background-color: green;
      padding:5rem 0 0 0;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      flex-direction: column;

    }
    &__item{
      //background-color: plum;
      padding: 3rem 0 0 5rem;
      width: 100%;

    }
  }
  .menu-icon{
    display: flex;
  }
  #menu-toggle:checked+ .menu-icon + .menu__list{
    height: 80vh;
    padding-top: 5rem;
    background-color:#121926;
    justify-content: flex-start;
  }
  #menu-toggle:checked+ .menu-icon .line:nth-child(1){
    transform: rotate(45deg) translate(15px, 3px);
  }

  #menu-toggle:checked+ .menu-icon .line:nth-child(2){
    transform: scale(0);
  }

  #menu-toggle:checked+ .menu-icon .line:nth-child(3){
    transform: rotate(-45deg) translate(15px, -4px);
  }

}