@use '../base/mixins';

.hero{
  &__logo{
    background-image: url('/static/images/logoHorizontal.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

  }
  &__wrapper{
    background-image: url('/static/images/back_320.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right center;
  }
}

// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ==========================================================================
// 360=>
// ==========================================================================
@include mixins.respond-to(xs){
  .hero{
    &__logo{
    }
    &__wrapper{
      background-position: center 10%;
    }
  }
}

// ==========================================================================
// 414=>
// ==========================================================================
@include mixins.respond-to(sm){
  .hero{
    &__logo{
    }
    &__wrapper{
      //background-position: center bottom;
    }
  }
}

// ==========================================================================
// 600=>
// ==========================================================================
@include mixins.respond-to(md){
  .hero{
    &__logo{
    }
    &__wrapper{
      background-size: 80%;
      background-position: 11vh 3vh;
    }
  }
}

// ==========================================================================
// 760=>
// ==========================================================================
@include mixins.respond-to(ws){
  .hero{
    &__logo{
      background-size: 70%;
    }
    &__wrapper{
      background-image: url('/static/images/back_760.png');
      background-position: 13vh 3vh;
    }
  }
}

// ==========================================================================
// 920=>
// ==========================================================================
@include mixins.respond-to(lg){
  .hero{
    &__logo{
      background-size: 50%;
      background-position: right center;
    }
    &__wrapper{
      background-size: 70%;
      background-position: center 3vh;
    }
  }
}

// ==========================================================================
// 1366=>
// ==========================================================================
@include mixins.respond-to(xl){
  .hero{
    &__logo{
      background-image: url('/static/images/logoVertical.png');
      background-size: 90%;
      background-position: center;
    }
    &__wrapper{
      background-image: url('/static/images/back_1366.png');
      background-size: contain;
      background-position: right 10vh;
    }
  }
}

// ==========================================================================
// 1440=>
// ==========================================================================
@include mixins.respond-to(ds){
  .hero{
    &__logo{
      background-size: 80%;
      background-position: center bottom;
    }
    &__wrapper{
      background-image: url('/static/images/back_1440.png');
    }
  }
}

// ==========================================================================
// 1920=>
// ==========================================================================
@include mixins.respond-to(hd){
  .hero{
    &__logo{
      background-size: 65%;
      background-position: center bottom;
    }
    &__wrapper{
      background-image: url('/static/images/back_1920.png');
      background-position: right 1vh;
    }
  }
}
