// ==========================================================================
// section - Factions
// ==========================================================================

@use '../base/variables';
@use '../base/functions';

@use '../base/mixins';

.promo{
  //background-color: palevioletred;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
    &__title{
      //background-color: tomato;
      font-size: functions.font-size('2xl');
      font-family: variables.$font-primary;
      color: variables.$accent-blue;
      @include mixins.neon-text(variables.$accent-blue, 0.3);
      text-align: center;
      padding: functions.spacing('8');
    }
  &__containt{
      //background-color: lightseagreen;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      margin: functions.spacing('8') functions.spacing('8');
  }
    &__header{
      //background-color: cadetblue;
      display: flex;
      flex-direction: column;
      padding: functions.spacing('8');
      width: 100%;
      height: 40vh;
      .header_image{
        background-image: url('/static/images/promo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 70%;
        //width: auto;
        }
      .header_text{
        //background-color: #27ae60;
        text-align: center;
        align-content: center;
        color: variables.$accent-green ;
        font-size: functions.font-size('lg');
        padding-top: functions.spacing('8');
      }
    }
    .contain_icon{
      //background-color: yellowgreen;
      height: 10%;
      display: flex;
      padding: functions.spacing('4') 0;
        .icon_action{
          //background-color: olive;
          background-image: url('/static/images/registro2.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          width: 40%;
          height: 100%;
          margin-right: functions.spacing('2');
        }
        .text_action{
          //background-color: orange;
          font-size: functions.font-size('2xl');
          //text-align: justify;
          align-content: center;
          padding-left: 0.5rem;
          height: 100%;
          width: 70%;
        }
    }
}


// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ==========================================================================
// 360=>
// ==========================================================================
@include mixins.respond-to(xs){
  .promo{
    //background-color: orangered;

  }
}

// ==========================================================================
// 414=>
// ==========================================================================
@include mixins.respond-to(sm){
  .promo{
    //background-color: palegoldenrod;
  }
}

// ==========================================================================
// 600=>
// ==========================================================================
@include mixins.respond-to(md){
  .promo{
    //background-color: darkgreen;
  }
}

// ==========================================================================
// 760=>
// ==========================================================================
@include mixins.respond-to(ws){
  .promo{
    //background-color: peru;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    &__title{
      //background-color: palegreen;
      width: 100%;
      height: 20%;
      font-size: functions.font-size('3xl');
    }
    &__containt{
      //background-color: lightseagreen;
      width: 60%;
      height: 80%;
      margin: functions.spacing('0');
      padding: 0 functions.spacing('8');
    }
    &__header{
      //background-color: lightpink;
      width: 40%;
      height: 80%;
      .header_image{
      }
    }
    .contain_icon{
      //background-color: yellowgreen;
      width: 100%;
      height: 20%;
    }
  }
}

// ==========================================================================
// 920=>
// ==========================================================================
@include mixins.respond-to(lg){
  .promo{
    //background-color: chartreuse;
  }
}

// ==========================================================================
// 1366=>
// ==========================================================================
@include mixins.respond-to(xl){
  .promo{
    //background-color: navajowhite;
    &__title{
      font-size: functions.font-size('4xl');
    }
    &__header{
      //background-color: lightseagreen;
      width: 40%;
      padding-right: 15rem;
      justify-content: center;
        .header_image{
            height: 40%;
        }
    }
    &__containt{
      //background-color: seagreen;
      width: 60%;
      padding-left: 10rem;
    }

  }
}

// ==========================================================================
// 1440=>
// ==========================================================================
@include mixins.respond-to(ds){
  .promo{
    //background-color: lightcoral;
    &__title{
      font-size: functions.font-size('5xl');
    }
  }
}

// ==========================================================================
// 1920=>
// ==========================================================================
@include mixins.respond-to(hd){
  .promo{
    //background-color: lightslategray;
  }
}