// ==========================================================================
// section - Title
// ==========================================================================

@use '../base/variables';
@use '../base/functions';

@use '../base/mixins';


.separator{
  &__bar{
    //background-color: mediumaquamarine;
    background-image: url('/static/images/barra1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    //width: 100vw;
    height: 10vh;
    margin: functions.spacing('8') functions.spacing('6');
  }
  &__title{
    //background-color: tomato;
    text-align: center;
    align-content: center;
    font-size: functions.font-size('2xl');
    font-family: variables.$font-primary;
    color: variables.$accent-blue;
    @include mixins.neon-text(variables.$accent-blue, 0.3);
    margin: functions.spacing('6');
    .subtitle{
      color: variables.$accent-pink;
      @include mixins.neon-text(variables.$accent-pink,0.3)
    }
  }
}


// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ==========================================================================
// 360=>
// ==========================================================================
@include mixins.respond-to(xs){
  .separator{
    //background-color: orangered;

  }
}

// ==========================================================================
// 414=>
// ==========================================================================
@include mixins.respond-to(sm){
  .separator{
    //background-color: palegoldenrod;
  }
}

// ==========================================================================
// 600=>
// ==========================================================================
@include mixins.respond-to(md){
  .separator{
    //background-color: darkgreen;
  }
}

// ==========================================================================
// 760=>
// ==========================================================================
@include mixins.respond-to(ws){
  .separator{
    //background-color: blueviolet;
  }
}

// ==========================================================================
// 920=>
// ==========================================================================
@include mixins.respond-to(lg){
  .separator{
    //background-color: chartreuse;
    &__bar{
      background-image: url('/static/images/barra2.png');
    }
    &__title{
      font-size: functions.font-size('3xl');
    }
  }
}

// ==========================================================================
// 1366=>
// ==========================================================================
@include mixins.respond-to(xl){
  .separator{
    //background-color: fuchsia;
    &__title{
      font-size: functions.font-size('5xl');
    }
  }
}

// ==========================================================================
// 1440=>
// ==========================================================================
@include mixins.respond-to(ds){
  .separator{
    //background-color: deeppink;
  }
}

// ==========================================================================
// 1920=>
// ==========================================================================
@include mixins.respond-to(hd){
  .separator{
    //background-color: honeydew;
    &__bar{
      width: auto;
      background-size: cover;
    }
    &__title{
      margin: functions.spacing('20') functions.spacing('6');
    }
  }
}
