<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Arkadex</title>
{#        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">#}
{#        bootstrap#}
{#        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">#}

        <!-- Tema bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

        <!-- Fuente de Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bruno+Ace&family=Bruno+Ace+SC&family=Electrolize&display=swap" rel="stylesheet">

{#        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">#}
    </head>
    <body>
        <main class="container p-6">
            <h1 class="display-4 text-center mt-4">Pagina de Inicio</h1>

            <div class="row">

                <div class="col-md-6 offset-md-4 my-auto">

                    <div class="card border-info mb-3" style="max-width: 40rem;">
                        <div class="card-header">
                            <h3>Roles</h3>
                            <form action="/crear-rol" method="post">
                                <fieldset>
                                    <legend>
                                        Crear roles
                                    </legend>

                                    <div>
                                        <label class="col-form-label mt4">Rol</label>

{#                                        Selector para nombre del rol por enum#}
                                        <select name="contenido_nombre" class="form-control">
                                            {% for rol in roles_enum %}
                                                <option value="{{ rol.name }}">{{ rol.value|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div>
                                        <label class="col-form-label mt4">Descripcion</label>
                                        <textarea name="contenido_descripcion" rows="2" class="form-control"></textarea>
                                    </div>

                                </fieldset>

                                <button type="submit" class="btn btn-primary mt-3">Guardar</button>

                            </form>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Roles creados</h4>
                            <p class="card-text">Listado de todos los roles disponibles en el sistema.</p>

                            <div>
                                <ul class="list-group list-group-flush">
                                    {% for rol in roles %}
                                        <li class="list-group-item d-flex justify-content-between align-items-start">({{ rol.id_rol }}) {{ rol.nombre_rol.value }} : {{ rol.descripcion_rol }}

                                            <a href="#" style="text-decoration: none" class="mr-2" data-bs-toggle="modal" data-bs-target="#activarModal{{rol.id_rol}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="steelblue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                </svg>
                                            </a>


                                            <div class="modal fade" id="activarModal{{rol.id_rol}}" tabindex="-1" >
                                                <div class="modal-dialog modal-dialog-centered" >

                                                    <form action="/editar-rol/{{ rol.id_rol }}" method="post">

                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h3 class="modal-title fs-5" id="exampleModalLabel">Editar Roles</h3>

                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=Cerrar>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Rol</span>
                                                                    <input name="contenido_nombre" type="text" class="form-control" value="{{rol.nombre_rol.value}}" required/>
                                                                </div>

                                                                <div>
                                                                    <label class="col-form-label mt4">Descripcion</label>
                                                                    <textarea name="contenido_descripcion" rows="2" class="form-control" >{{rol.descripcion_rol}}</textarea>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cancelar</button>
                                                                <button type="submit" class="btn btn-primary">Grabar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <a href="/eliminar_rol/{{ rol.id_rol }}" style="text-decoration:none" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div>

                    </div>

{#                USUARIOS -- sesion de gestion de usuarios#}

                    <div class="card border-primary mb-3" style="max-width: 40rem;">

                        <div class="card-header">
                            <h3>Usuarios</h3>

                            <form action="/crear-usuario" method="post">

                                <fieldset>
                                    <legend>
                                        Crear usuarios
                                    </legend>

                                    <div>
                                      <label class="col-form-label mt-4" for="inputNombreUsuario">Nombre de Usuario</label>
                                      <input type="text" name="nombre_usuario" class="form-control" placeholder="Introduzca el nombre de usuario" id="inputNombreUsuario">
                                    </div>

                                    <div>
                                        <label for="exampleInputEmail1" class="form-label mt-4">Direccion de email</label>
                                        <input type="email" name="campo_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="alguien@example.com">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>

                                    <div>
                                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                        <input type="password" name="campo_password" class="form-control" placeholder="Digite su contraseña" autocomplete="off">
                                    </div>


                                    <div>
                                        <label class="col-form-label mt4">Selecciona el Rol: </label>
                                        <select name="id_rol" class="form-control">
                                            {% for rol in roles %}
                                                <option value="{{ rol.id_rol }}">{{ rol.nombre_rol.value|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                </fieldset>
                                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                            </form>

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Usuarios creados</h4>
                            <p class="card-text">Listado de todos los usuarios que se han registrado en el sistema.</p>
                            <div>
                                <ul class="list-group list-group-flush">
                                    {% for usuario in usuarios %}
                                        <li class="list-group-item">
                                            Usuario: {{ usuario.nombre_usuario }} - Rol: {{ usuario.roles.nombre_rol.value }}

                                            <a href="#" style="text-decoration:none" class="mr-2" data-bs-toggle="modal" data-bs-target="#activarModalUsuario{{usuario.id_usuario}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                </svg>
                                            </a>


                                            <div class="modal fade" id="activarModalUsuario{{usuario.id_usuario}}" tabindex="-1" >
                                                <div class="modal-dialog modal-dialog-centered" >

                                                    <form action="/editar-usuario/{{ usuario.id_usuario }}" method="post">

                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h3 class="modal-title fs-5" id="exampleModalLabel">Editar Usuario</h3>

                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=Cerrar></button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Nombre de Usuario</span>
                                                                    <input name="nombre_usuario" type="text" class="form-control" value="{{usuario.nombre_usuario}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Direccion de email</span>
                                                                    <input name="campo_email" type="text" class="form-control" value="{{usuario.email_usuario}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Contraseña</span>
                                                                    <input name="campo_password" type="text" class="form-control" value="{{usuario.password_usuario}}" required/>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cancelar</button>
                                                                <button type="submit" class="btn btn-primary">Grabar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>



                                            <a href="/eliminar-usuario/{{ usuario.id_usuario }}" style="text-decoration:none" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>




{#                                            <a href="" style="text-decoration:none" class="btn btn-danger btn-sm">#}
{#                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">#}
{#                                                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>#}
{#                                                </svg>#}
{#                                            </a>#}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>

{#                TORNEOS - sesion para la gestion de los torneos#}

                    <div class="card border-success mb-3">
                        <div class="card-header">
                            <h4 class="card-title">
                                Torneos
                            </h4>

                            <form action="/crear-torneo" method="post">
                                <fieldset>

                                    <legend>
                                        Crear torneos
                                    </legend>

                                    <div>
                                        <label class="col-form-label mt-4">Nombre de Torneo</label>
                                        <input type="text" name="nombre_torneo" class="form-control" placeholder="Introduzca el nombre del torneo">
                                    </div>

                                    <div>
                                        <label class="col-form-label mt-4">Fecha de inicio del Torneo</label>
                                        <input type="date" name="fecha_inicio_torneo" class="form-control" placeholder="Introduzca la decha de inicio">
                                    </div>

                                    <div>
                                        <label class="col-form-label mt-4">Fecha de finalización del Torneo (opcional)</label>
                                        <input type="date" name="fecha_fin_torneo" class="form-control" placeholder="Introduzca la decha de finalización">
                                    </div>

                                    <div>
                                        <label class="col-form-label mt4">Tipo de torneo</label>

{#                                        Selector para nombre del rol por enum#}
                                        <select name="contenido_tipo_torneo" class="form-control">
                                            {% for torneo in tipo_torneos_enum %}
                                                <option value="{{ torneo.name }}">{{ torneo.value|capitalize }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                    <div>
                                        <label class="col-form-label mt4">Estado del torneo</label>

{#                                        Selector para nombre del rol por enum#}
                                        <select name="contenido_estado_torneo" class="form-control">
                                            {% for estado in estado_torneos_enum %}
                                                <option value="{{ estado.name }}">{{ estado.value|capitalize }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>


                                </fieldset>
                                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                            </form>

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Torneos creados</h4>

                             <p class="card-text">Listado de todos los torneos disponibles.</p>
                            <div>
                                <ul class="list-group list-group-flush">
                                    {% for torneo in torneos %}
                                        <li class="list-group-item">
                                            {{ torneo.nombre_torneo }} - Estado: {{ torneo.estado_torneo.value }} - Fecha de Inicio {{ torneo.fecha_inicio_torneo }}

                                            <a href="#" style="text-decoration:none" class="mr-2" data-bs-toggle="modal" data-bs-target="#activarModalTorneo{{torneo.id_torneo}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                </svg>
                                            </a>


                                            <div class="modal fade" id="activarModalTorneo{{torneo.id_torneo}}" tabindex="-1" >
                                                <div class="modal-dialog modal-dialog-centered" >

                                                    <form action="/editar-torneo/{{ torneo.id_torneo }}" method="post">

                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h3 class="modal-title fs-5" id="exampleModalLabel">Editar Torneo</h3>

                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=Cerrar></button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Nombre de Torneo</span>
                                                                    <input name="nombre_torneo" type="text" class="form-control" value="{{torneo.nombre_torneo}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Fecha de inicio del torneo</span>
                                                                    <input name="fecha_inicio_torneo" type="date" class="form-control"
                                                                           value="{{torneo.fecha_inicio_torneo.strftime('%Y-%m-%d') if torneo.fecha_inicio_torneo else ''}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Fecha de Finalización del torneo</span>
                                                                    <input name="fecha_fin_torneo" type="date" class="form-control"
                                                                           value="{{torneo.fecha_final_torneo.strftime('%Y-%m-%d') if torneo.fecha_final_torneo else ''}}"/>
                                                                </div>

                                                                <div>
                                                                    <label class="col-form-label mt4">Tipo de torneo</label>

                        {#                                        Selector para nombre del rol por enum#}
                                                                    <select name="contenido_tipo_torneo" class="form-control">
                                                                        {% for tipo in tipo_torneos_enum %}
                                                                            <option value="{{ tipo.name }}" {% if torneo.tipo_torneo == tipo %}selected{% endif %}>
                                                                                {{ tipo.value|capitalize }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                </div>

                                                                <div>
                                                                    <label class="col-form-label mt4">Estado del torneo</label>

                        {#                                        Selector para nombre del rol por enum#}
                                                                    <select name="contenido_estado_torneo" class="form-control">
                                                                        {% for estado in estado_torneos_enum %}
                                                                            <option value="{{ estado.name }}" {% if torneo.estado_torneo == estado %}selected{% endif %}>
                                                                                {{ estado.value|capitalize }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cancelar</button>
                                                                <button type="submit" class="btn btn-primary">Grabar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <a href="/eliminar-torneo/{{ torneo.id_torneo }}" style="text-decoration:none" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>

{#                    JUEGOS - sesion para la gestion de juego#}
                    <div class="card border-warning mb-3">
                        <div class="card-header">
                            <h4 class="card-title">
                                Juegos
                            </h4>


                            <form action="/crear-juego" method="post">
                                <fieldset>

                                    <legend>
                                        Crear torneos
                                    </legend>

                                    <div>
                                        <label class="col-form-label mt-4">Nombre del Juego</label>
                                        <input type="text" name="nombre_Juego" class="form-control" placeholder="Introduzca el nombre del juego" required/>
                                    </div>

                                    <div>
                                        <label class="col-form-label mt-4">Descripción (Opcional)</label>
                                        <input type="text" name="descripcion_juego" class="form-control" placeholder="Breve descripción del juego">
                                    </div>



                                    <div>
                                        <label class="col-form-label mt4">Selecciona el Torneo: </label>
                                        <select name="id_torneo" class="form-control">
                                            {% for torneo in torneos %}
                                                <option value="{{ torneo.id_torneo }}">{{ torneo.nombre_torneo|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                </fieldset>
                                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                            </form>


                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                juegos creados
                            </h4>
                            <p class="card-text">
                                Listado de todos los juegos disponibles para e-sports
                            </p>


                            <div>
                                <ul class="list-group list-group-flush">
                                    {% for juego in juegos %}
                                        <li class="list-group-item">
                                            {{ juego.nombre_juego }} - Torneo Disponible: {{ juego.torneos.nombre_torneo | capitalize }} ({{ juego.torneos.estado_torneo.value }})

                                            <a href="#" style="text-decoration:none" class="mr-2" data-bs-toggle="modal" data-bs-target="#activarModalJuego{{juego.id_juego}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                </svg>
                                            </a>


                                            <div class="modal fade" id="activarModalJuego{{juego.id_juego}}" tabindex="-1" >
                                                <div class="modal-dialog modal-dialog-centered" >

                                                    <form action="/editar-juego/{{ juego.id_juego }}" method="post">

                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h3 class="modal-title fs-5" id="exampleModalLabel">Editar Juego</h3>

                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=Cerrar></button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Nombre de Juego</span>
                                                                    <input name="nombre_juego" type="text" class="form-control" value="{{juego.nombre_juego}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Descripción</span>
                                                                    <input name="descripcion_juego" type="text" class="form-control" value="{{juego.descripcion_juego}}"/>
                                                                </div>


                                                                <div>
                                                                    <label class="col-form-label mt4">Selecciona el torneo</label>

                        {#                                        Selector para nombre del rol por enum#}
                                                                    <select name="id_torneo" class="form-control">
                                                                        {% for torneo in torneos %}
                                                                            <option value="{{ torneo.id_torneo }}" {% if juego.torneos.nombre_torneo == torneo.nombre_torneo %}selected{% endif %}>
                                                                                {{ torneo.nombre_torneo|capitalize }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                </div>



                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cancelar</button>
                                                                <button type="submit" class="btn btn-primary">Grabar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>



                                            <a href="/eliminar-juego/{{ juego.id_juego }}" style="text-decoration:none" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>




{#                                            <a href="" style="text-decoration:none" class="btn btn-danger btn-sm">#}
{#                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">#}
{#                                                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>#}
{#                                                </svg>#}
{#                                            </a>#}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>





            </div>


        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>