{% extends 'layout.html' %}

{% block title %}
	Inicio
{% endblock %}

{% block content %}
	<header>
		<section class="hero" id="inicio">



			<div class="hero__wrapper">

				<div class="box">

					<div class="box__menu">

						<aside class="panel">
							<nav class="menu"> {# navbar #}
								<input type = "checkbox" id="menu-toggle">
								<label for = "menu-toggle" class="menu-icon">
									<span class="line"></span>
									<span class="line"></span>
									<span class="line"></span>
{#									<div class="line"></div>#}
{#									<div class="line"></div>#}
{#									<div class="line"></div>#}
								</label>


								<ul class="menu__list"> {# nav-links #}
									<li class="menu__item">
										<img src = "/static/images/registro.png" alt = "registrate" class="nav-icon registro">
										Regístrate
									</li>

									<li class="menu__item">
										<img src = "/static/images/info.png" alt = "Informate" class="nav-icon info">
										Infórmate
									</li>

									<li class="menu__item">
										<img src = "/static/images/partidas.png" alt = "Ver partidas" class="nav-icon partidas">
										Ver partidas
									</li>

									<li class="menu__item">
										<img src = "/static/images/equipos.png" alt = "Ver equipos" class="nav-icon equipos">
										Ver equipos
									</li>
							</ul>
							</nav>
						</aside>

					</div>

					<div class="box__join">

						<div class="text-contain">
							<h3 class="text-prim text-accent-pink font-normal sp-tighter font-display line-none">Unete</h3>
							<h3 class="text-sec text-accent-pink font-normal sp-tighter font-display line-none">a la arena</h3>
						</div>

						<button class="btn btn--icon btn-ghost">
							<img src = "/static/images/btn_play.png" alt = "play" class="icon">
						</button>



					</div>

					<div class="box__action">

						<div class="action-contain">
							<p>La batalla comienza en tu mente, el kaos en tus venas.</p>
							<p>¿Estas listo para liberar todo tu poder?</p>
						</div>

					</div>

				</div>

			</div>

			<div class="hero__logo">

			</div>

			<div class="hero__back">

			</div>
<!--

			<div class="hero__wrap">

				<div class="hero__container">

					<div class="menu">
						<ul class="nav">
							<li class="nav-link">
								<img src = "/static/images/registro.png" alt = "registrate" class="nav-icon registro">
								registrate
							</li>
							<li class="nav-link">
								<img src = "/static/images/info.png" alt = "Informate" class="nav-icon info">
								Informate
							</li>
							<li class="nav-link">
								<img src = "/static/images/partidas.png" alt = "Ver partidas" class="nav-icon partidas">
								Ver partidas
							</li>
							<li class="nav-link">
								<img src = "/static/images/equipos.png" alt = "Ver equipos" class="nav-icon equipos">
								Ver equipos
							</li>
						</ul>
					</div>

					<div class="text">
						<div class="call_action">
							<div class="action_text">
								<p class="motivation">
									La batalla comienza en tu mente, el Kaos en tus venas
								</p>
								<p class="motivation_question">
									¿Estás listo para liberar todo tu poder?
								</p>
							</div>

							<div class="action_button">
								<div class="btn button_register">
									Regístrate
								</div>
								<div class="btn button_intro">
									Ingresa
								</div>
							</div>

						</div>
					</div>


				</div>


			</div>
			-->
		</section>
	</header>
{% endblock %}