<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}  {% endblock %} | Arkadex</title>

        <!-- Tema bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

        <!-- Fuente de Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bruno+Ace&family=Bruno+Ace+SC&family=Electrolize&display=swap" rel="stylesheet">

    </head>
    <body>

        <main class="container p-12">
            <h1 class="display-3 text-center mt-4">Eventos E-sports en Arkadex</h1>

            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="{{ url_for('roles') }}">Roles</a></li>
                <li><a href="{{ url_for('usuarios') }}">Usuarios</a></li>
                <li><a href="{{ url_for('torneos') }}">Torneos</a></li>
                <li><a href="{{ url_for('juegos') }}">Juegos</a></li>
            </ul>

            <div class="row">

                <div class="col-md-6 offset-md-3 my-auto">

                    <section id="content">

                        <h1 class="display-4 text-center mt-4">{% block subtitle %}{% endblock %}</h1>
                        <p>{% block intro %}{% endblock %}</p>

                        {% block content %}
                        {% endblock %}

                    </section>

                </div>

            </div>
        </main>
    </body>
</html>