{% extends 'layout.html' %}

{% block title %}
	Usuarios
{% endblock %}

{% block fadeTab %}show active{% endblock %}

{% block idPane %}usuarios-tab-pane{% endblock %}

{% block idTab %}usuarios-tab{% endblock %}

{% block subtitle %}
	Gestión de Usuarios
{% endblock %}

{% block intro %}
	Administra los Usuarios del sistema
{% endblock %}

{% block content %}

    <div class="card border-primary mb-3" style="max-width: 40rem;">

                        <div class="card-header">
                            <h4>Usuarios</h4>

                            <form action="/crear-usuario" method="post">

                                <fieldset>
                                    <legend>
                                        Crear usuarios
                                    </legend>

                                    <div>
                                      <label class="col-form-label mt-4" for="inputNombreUsuario">Nombre de Usuario</label>
                                      <input type="text" name="nombre_usuario" class="form-control" placeholder="Introduzca el nombre de usuario" id="inputNombreUsuario">
                                    </div>

                                    <div>
                                        <label for="exampleInputEmail1" class="form-label mt-4">Direccion de email</label>
                                        <input type="email" name="campo_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="alguien@example.com">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>

                                    <div>
                                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                        <input type="password" name="campo_password" class="form-control" placeholder="Digite su contraseña" autocomplete="off">
                                    </div>


                                    <div>
                                        <label class="col-form-label mt4">Selecciona el Rol: </label>
                                        <select name="id_rol" class="form-control">
                                            {% for rol in roles %}
                                                <option value="{{ rol.id_rol }}">{{ rol.nombre_rol.value|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                </fieldset>
                                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                            </form>

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Usuarios creados</h4>
                            <p class="card-text">Listado de todos los usuarios que se han registrado en el sistema.</p>
                            <div>
                                <ul class="list-group list-group-flush">
                                    {% for usuario in usuarios %}
                                        <li class="list-group-item">
                                            Usuario: {{ usuario.nombre_usuario }} - Rol: {{ usuario.roles.nombre_rol.value }}

                                            <a href="#" style="text-decoration:none" class="mr-2" data-bs-toggle="modal" data-bs-target="#activarModalUsuario{{usuario.id_usuario}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                </svg>
                                            </a>


                                            <div class="modal fade" id="activarModalUsuario{{usuario.id_usuario}}" tabindex="-1" >
                                                <div class="modal-dialog modal-dialog-centered" >

                                                    <form action="/editar-usuario/{{ usuario.id_usuario }}" method="post">

                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h3 class="modal-title fs-5" id="exampleModalLabel">Editar Usuario</h3>

                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=Cerrar></button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Nombre de Usuario</span>
                                                                    <input name="nombre_usuario" type="text" class="form-control" value="{{usuario.nombre_usuario}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Direccion de email</span>
                                                                    <input name="campo_email" type="text" class="form-control" value="{{usuario.email_usuario}}" required/>
                                                                </div>

                                                                <div class="input-group mb-2">
                                                                    <span class="input-group-text">Contraseña</span>
                                                                    <input name="campo_password" type="text" class="form-control" value="{{usuario.password_usuario}}" required/>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cancelar</button>
                                                                <button type="submit" class="btn btn-primary">Grabar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>



                                            <a href="/eliminar-usuario/{{ usuario.id_usuario }}" style="text-decoration:none" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>


{% endblock %}